@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(121, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 550px;
    height: 450px;
}
.quote-Header{
    text-align: center;
    margin-bottom: 50px;
}
.quote-Header h3{
    font-size: 50px;
    font-weight: 600;
    color: rgb(6, 6, 6);
}
.Quote-Box{
    width: 100%;
    height: 200px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}
.container .Quote-Box .text-area{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
.container .Quote-Box .text-area .quote-icon{
    margin-right:5px ;
}
.container .Quote-Box .writer{
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
}

.container .Quote-Box .btn button{
    position: absolute;
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #455261;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    top: 153px;
    right: 5px;

 } 
 button:active{
    background-color: rgb(63, 107, 194);
}
